<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Build Your Farm, Find Your Rhythm.</h1>
            <p class="home-text">Every day brings something new to discover.</p>
            <a class="home-link" href="https://play.google.com/store/apps/details?id=com.firestream.farmrpg&hl=en&gl=us ">
                <p>Play on Google Play</p>
            </a>
        </div>
    </div>
</section>
<section class="relaxed-section" id="relaxed">
    <div class="container">
        <h2>Relaxed gameplay with real progression</h2>
        <p>
        It's got that peaceful farming vibe, but there's actually quite a bit of depth once you get into the RPG and multiplayer
        stuff. Players are free to explore at their own pace — planting crops, crafting items, and discovering new
        opportunities. The world feels alive through constant growth and interaction.</p>
    </div>
</section>