.footer{
  background: #084460;
  margin-top: -1px;

}
.footer-container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  gap: 70px;
font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;
}

.footer-text {
font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: row-reverse;
    gap: 192px;
    justify-content: center;
  }

  .footer-navigation {
    flex-direction: column;
    align-items: center;
    gap: 0;
    font-size: 18px;
    line-height: 1.33333;
  }

  .footer-text {
    font-size: 18px;
    line-height: 1.33333;
  }
}