.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 509px;
    height: 601px;
}
.home-wrapper{
    margin-top: 161px;
}
.home-title{
font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33333;
    color: #010101;
}
.home-text{
    margin-top: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
}
.home-link{
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
        padding: 10px 24px;
        width: 327px;
        height: 63px;
        background: #084460;
display: flex;
align-items: center;
justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    transition: background 0.3s ease-in-out;
}
.home-link:hover{
background: #073449;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
    background-size: 100% 699px;
    height: 827px;
}
.home-wrapper{
    margin-top: 202px;
    width: 892px;
}
.home-title{
font-size: 60px;
    line-height: 1.25;
}
.home-text{
    margin-top: 40px;
font-weight: 500;
    font-size: 32px;
    line-height: 1.3125;
}
.home-link{
    margin-top: 56px;
    margin-left: 0;
width: 337px;
}  
}
/* Relaxed gameplay with real progression */
@media only screen and (min-width: 1440px) {
.relaxed-section p{
width: 1280px;
margin-left: auto;
margin-right: auto;
}
}
/* Simple actions,
lasting progress */
.simple-container{
    padding-top: 0;
}
.simple-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.simple-list{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-left: 24px;
    width: 327px;
}
@media only screen and (min-width: 1440px) {
 .simple-wrapper{
flex-direction: row;
gap: 64px;
justify-content: center;
}
.simple-list{
width: 393px;
}   
}
/* Cozy but engaging */
.cozy-section{
background: #084460;
}
.cozy-section h2{
color: #fff;
}
.cozy-section p{
color: #fff;
}
@media only screen and (min-width: 1440px) {
.cozy-section p{
width: 1000px;
margin-left: auto;
margin-right: auto;
}    
}
/* Why players stay */
.why-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.why-item{
border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 20px;
    width: 327px;
    height: auto;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
@media only screen and (min-width: 1440px) {
.why-list{
width: 850px;
margin-left: auto;
margin-right: auto;
gap: 40px;
column-gap: 64px;
flex-wrap: wrap;
height: 725px;
}
.why-item{
    display: flex;
    align-items: center;
    justify-content: center;
padding: 24px;
    width: 393px;
    height: 180px;
font-size: 32px;
    line-height: 1.3125;
}    
}
/* Play together,
grow together */
.play-section{
background: #084460;
}
.play-section h2{
color: #fff;
}
.play-section p{
color: #fff;
}
@media only screen and (min-width: 1440px) {
.play-section p {
width: 1048px;
margin-left: auto;
margin-right: auto;
    }
}
/* Life on the farm */
.gallery-swiper{
width: 200px;
margin-left: auto;
margin-right: auto;
}
.life-container{
    position: relative;
}
.gallery-navigation{
display: flex;
justify-content: space-between;
}
.gallery-button{
    border: none;
    background-color: inherit;
}
.gallery-button-prev{
    position: absolute;
        top: 50%;
        left: 6%;
}
.gallery-button-next{
    position: absolute;
        top: 50%;
        right: 6%;
}
@media only screen and (min-width: 1440px) {
.gallery-swiper {
        width: 1128px;
    }
.gallery-button-prev {
    position: absolute;
    top: 55%;
    left: 6%;
}

.gallery-button-next {
    position: absolute;
    top: 55%;
    right: 6%;
}
}